:root {
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.header {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-top: 24px;
  margin-bottom: 24px;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-text {
  color: #2e2f42;
}

.nav-contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-contact:hover,
.nav-contact:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-contacts {
  display: flex;
  gap: 40px;
}

/* HERO */

.order-button {
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.title-main {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  max-width: 496px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* STUDIO */

.title-block {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.item-subltitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.item-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.studio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.studio-item {
}

.studio-list {
  display: flex;
  gap: 24px;
}

.studio-item {
  width: calc((100% - 72px) / 4);
}

.studio-item .item-subltitle {
  margin-bottom: 8px;
}

/* SERVICES */

.services {
  background-color: #ffffff;
  padding-bottom: 120px;
}

.services-list {
  display: flex;
  gap: 24px;
}

.services-img {
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
}

/* CONTACTS */

.contacts {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.contacts-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.contacts-list {
  display: flex;
  gap: 24px;
}

.contacts-pic {
}

.item-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-text .item-subltitle {
  margin-bottom: 8px;
  text-align: center;
}

.item-text .item-description {
  text-align: center;
}

.contacts-item {
  width: calc((100% - 72px) / 4);
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-text {
  color: #f4f4fd;
}

.footer-conteiner {
}

/* PORTFOLIO */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  margin-right: 24px;
  margin-bottom: 48px;
  width: calc((100% - 48px) / 3);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-text {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
